* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  margin: 0;

  color: #333;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: black;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 24px;
  color: black;
  margin-left: 40px;
}

.resume.btn {
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #fff;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('../assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.boy-img {
  width: 150px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;

  margin: 20px 0;
  color: black;
}

p {
  width: 80%;
  margin: 0 auto 20px;
  font-size: 16px;
  color: black;
}

.contact-btn {
  margin: 30px;
  width: 208px;
  height: 66px;
  padding: 10px 20px;
  background-color: black;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.why-web-dev {
  padding: 50px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 10px;
  margin: 60px 170px;
}

.why-web-dev h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.why-web-dev p {
  font-size: 16px;
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second {
  /* border: 1px solid red; */
  margin-left: 50px;
}

.card-text {
  text-align: left;

  margin-left: 20px;
}

.card-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.card-text p {
  font-size: 14px;

  margin-left: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.learn-more-btn {
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-img {
  width: 150px;
  margin-left: 20px;
}

.youtube {
  border: 1px solid rgba(13, 19, 33, 0.2);

  margin: 100px 175px;
  padding: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.learn-more {
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.html-card {
  background-color: #fef2f2;
  text-align: left;
}

.css-card {
  background-color: #f0f8ff;
  text-align: left;
}

.js-card {
  background-color: #fffbe5;
  text-align: left;
}

/* I need Support */
.support-section {
  position: relative;
  background-image: url('../assets/handshake.jpg');

  background-size: cover;
  background-position: center;
  margin: 200px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 25px;
}

.support-content {
  text-align: center;

  padding: 20px;
  border-radius: 10px;
}

.support-content h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.support-content p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.support-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.support-content input[type='text'] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.support-content button[type='submit'] {
  padding: 10px 20px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f8f8;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.footer p {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.social-icons {
  margin-right: 100px;
  margin-bottom: 15px;
}
.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
